In [28]:
import pandas as pd
import seaborn as sns

In [3]:
pd.__version__

'1.4.2'

In [7]:
yt_2023_jan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
yt_2023_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [6]:
# ! pip install pyarrow

In [8]:
yt_2023_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [10]:
len(yt_2023_jan.columns)

19

In [18]:
type(yt_2023_jan['tpep_pickup_datetime'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [19]:
yt_2023_jan['tpep_pickup_datetime'][0].minute

32

In [20]:
yt_2023_jan['tpep_pickup_datetime'][0].second

10

In [36]:
yt_2023_jan['duration']=yt_2023_jan['tpep_dropoff_datetime']- yt_2023_jan['tpep_pickup_datetime']
yt_2023_jan['duration']= yt_2023_jan['duration'].apply(lambda td: td.total_seconds()/60)

In [41]:
yt_2023_jan['duration'].head(10)

0     8.433333
1     6.316667
2    12.750000
3     9.616667
4    10.833333
5    12.300000
6    10.450000
7    22.733333
8    14.933333
9    10.900000
Name: duration, dtype: float64

In [42]:
yt_2023_jan['duration'].describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [43]:
yt_2023_jan['duration'].describe(percentiles=[0.90,0.92,0.95,0.98])

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
50%      1.151667e+01
90%      2.794167e+01
92%      3.055000e+01
95%      3.646667e+01
98%      4.873333e+01
max      1.002918e+04
Name: duration, dtype: float64